<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/keyboard"
        android:label="@string/app_name"
        android:roundIcon="@drawable/keyboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.QrKeyboard"
        tools:targetApi="31">
        <activity
            android:name=".QrActivity"
            android:exported="false" />

        <service
            android:name=".Keyboard"
            android:exported="true"
            android:label="@string/class_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
    </application>
</manifest>